<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Hire Employee</title>
</head>
<body>
<h1>Hire Employee</h1>
<h2>Enter the name of the new employee!</h2>
<form action="#" th:action="@{/}" th:object="${employee}" method="post">
    <table>
        <tr>
            <td>First Name:</td>
            <td><input type="text" th:field="*{firstName}"/></td>
            <td th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></td>
        </tr>
        <tr>
            <td>Last Name:</td>
            <td><input type="text" th:field="*{lastName}"/></td>
            <td th:if="${#fields.hasErrors{'lastName')}" th:errors="*{lastName}"></td>
        </tr>
        <tr>
            <td>Job Status Code:</td>
            <td><input type="text" th:field="*{jobStatusCode}"/></td>
            <td th:if="$(#fields.hasErrors('jobStatusCode')}" th:errors="*{jobStatusCode}"></td>
        </tr>
        <tr>
            <td><button type="submit">Hire</button></td>
        </tr>
    </table>
</form>
</body>
</html>